@model CRM.Models.Account
@{
    Layout = "_Login";
}

<form action="/Account/Login" method="post">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label for="usernameLabel">Username</label>
        @Html.TextBoxFor(m => m.Username)
        @*    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
    </div>
    <div class="form-group">
        <label for="passwordLabel">Password</label>
        @Html.TextBoxFor(m => m.Password)
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a href="/Account/Register" class="btn btn-primary">Register</a>
    
</form>
